.Navigation {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
}

.MenuButtonContainer {
    border-radius: 1rem;
    height: 2rem;
    width: fit-content;
    margin: 1rem auto;
    display: flex;
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
    transition: box-shadow 1.5s ease-out;   
}

.MenuButtonLeft, .MenuButtonRight {
    height: 100%;
    width: 1rem;
    cursor: pointer;
}

.MenuButtonLeft {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background: rgb(0,0,0);
    background: rgb(0,0,66);
    background: linear-gradient(0deg, rgba(0,0,66,1) 0%, rgba(61,39,176,1) 40%, rgba(255,255,255,1) 100%);  
}

.MenuButtonCenter {
    height: 100%;
    border-top: 1px solid rgb(255,255,255);
    border-bottom: 1px solid rgb(0,0,66);
    transition: all .5s linear;
    overflow: hidden;
}

.MenuButtonCenter ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.MenuButtonCenter a {
    color: black;
    text-decoration: none;
    font-weight: 300;
}

.MenuButtonRight {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: rgb(0,0,0);
    background: rgb(0,0,66);
    background: linear-gradient(0deg, rgba(0,0,66,1) 0%, rgba(61,39,176,1) 40%, rgba(255,255,255,1) 100%);
}